<ul>
<li>Added: option to set the <code>.html</code> extension as optional</li>
<li>Changed: new plugin menu structure</li>
<li>Changed: <code>wp-skltn</code> library updated to <strong>0.22.1</strong> - MPL 2.0 License</li>
<li>Changed: applied new <code>wp-skltn</code> plugin structure - files moved into <code>modules/</code> directory</li>
<li>Bugfix: invalid regex in <code>.html</code> extension rewrite rule accepted any character instead of a dot</li>
<li>Bugfix: metadata generator throws a php notice due to non extisting global <code>$post</code> object</li>
</ul>
